.show-otp-container {
	.container {
		.input-otp {
			margin-left: 25rem;
			border: 1px solid rgba(63, 62, 62, 0.3);
			width: 32rem;
			margin-top: 1rem;
			.input-current {
				width: 3rem !important;
				height: 3rem;
				margin: 0 1rem;
				font-size: 2rem;
				border-radius: 4px;
				border: 1px solid rgba(0, 0, 0, 0.3) !important;
			}
			.time {
				margin-left: 13rem;
			}
			.action {
				margin-left: 6.5rem;
			}
		}
	}
}
