.modal-user {
	.content-body {
		.red {
			color: red !important;
		}
	}
}
.manage-users-container {
	.actions {
		i {
			padding-right: 7px;
		}
	}
	.user-header {
		.manage-user {
			color: #9053c7;
			color: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
			color: -o-linear-gradient(-135deg, #c850c0, #4158d0);
			color: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
			color: linear-gradient(-135deg, #c850c0, #4158d0);
			background: rgb(197, 196, 196);
		}
	}
}
